{% extends "pages/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <h2 class="card-title">Donator</h2>
          <table class="table">
            <tbody>
              <tr><th>Namn</th><td>{{donation.donor.name}}</td></tr>
              <tr><th>E-post</th><td>{{donation.donor.email}}</td></tr>
              <tr><th>Adress</th><td>{{donation.donor.address}}</td></tr>
              <tr><th>Postnummer</th><td>{{donation.donor.zip_code}}</td></tr>
              <tr><th>Ort</th><td>{{donation.donor.city}}</td></tr>
              <tr><th>Land</th><td>{{donation.donor.country}}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <h2 class="card-title">Detaljer</h2>
          <table class="table">
            <tbody>
              <tr><th>Summa</th><td>{{donation.sum}} €</td></tr>
              <tr><th>Synlighet</th><td>{{donation.visibility}}</td></tr>
              <tr><th>Pseudonym</th><td>{{donation.donor.pseudonym}}</td></tr>
              <tr><th>Gruppnamn</th><td>{{donation.group_name}}</td></tr>
              <tr><th>Hälsning</th><td>{{donation.greeting}}</td></tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  {% if donation.organization_name != "" %}
  <div class="row">
    <div class="col-md">
      <div class="card">
        <h2 class="card-title">Organisation</h2>
        <table class="table">
          <tbody>
            <tr><th>Namn</th><td>{{donation.organization.name}}</td></tr>
            <tr><th>FO-nummer</th><td>{{donation.organization.fo_number}}</td></tr>
            <tr><th>Adress</th><td>{{donation.organization.address}}</td></tr>
            <tr><th>Postnummer</th><td>{{donation.organization.zip_code}}</td></tr>
            <tr><th>Ort</th><td>{{donation.organization.city}}</td></tr>
            <tr><th>Land</th><td>{{donation.organization.country}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
  {% endif %}
</div>
{% endblock %}