CONTENTFUL_ACCESS_TOKEN=
SENDGRID_API_KEY=
GATSBY_DONATIONDB_URL=http://localhost:3000
GATSBY_LINK_TO_PAYMENTS_VISIBLE=True
DONATIONDB_API_KEY=foobar
DONATIONDB_SECRET_KEY=barfoo
DONATIONDB_SECRET_KEY=barfoo
DONATIONDB_DEBUG=True
DONATIONDB_URL=http://localhost:3000
FRONTEND_URL=http://localhost:8000
