.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}

.logo {
  margin-top: var(--margin-large);
  margin-bottom: calc(2 * var(--margin-large));
}
