.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-gray);
  padding-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}

.quote {
  width: 100%;
  max-width: var(--max-content-width);
  color: var(--vit);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
  position: relative;
}

@media (min-width: 1024px) {
  .quote {
    flex-direction: row;
    max-width: var(--max-width);
  }

  .quote > img {
    margin-right: var(--margin-large);
  }

  .quote > p {
    margin-right: calc(var(--margin-large));
  }
}

.quote > img {
  width: var(--card-size);
}

.quoteText {
  flex: 1;
  position: relative;
  font-weight: 900;
  line-height: 2;
  text-align: left;
  z-index: 1;
}

.quoteText::before {
  content: "“";
}

.quoteText::after {
  content: "”";
}

.author {
  position: relative;
  font-weight: 400;
  font-style: italic;
  margin-left: var(--margin-medium);
}

.author:before {
  position: absolute;
  content: "— ";
  left: calc(-1 * var(--margin-medium));
}
