.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-gray);
  padding-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}

.quote {
  width: 100%;
  max-width: var(--max-content-width);
  color: var(--vit);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--margin-small);
  padding-right: var(--margin-small);
}

.quote > img {
  width: var(--card-size);
}

.quote > p {
  font-weight: 900;
}

.quote > footer {
  text-align: center;
  font-weight: 400;
  font-style: italic;
}
