.container {
  width: 100%;
  max-width: var(--max-content-width);
  padding: var(--margin-small);
  display: flex;
  flex-direction: column;
}

.container canvas {
  border: 1px solid var(--teknologrod);
  margin: 0 0 var(--margin-large) 0;
  width: 100%;
}

.document {
  overflow: scroll;
  margin-bottom: var(--margin-medium);
}

.signatureHeader {
  display: flex;
  justify-content: space-between;
}

.signatureHeader button {
  border: none;
  background-color: white;
  border: 1px solid var(--teknologrod) !important;
  height: 32px;
}

.actions {
  display: grid;
  margin-bottom: var(--margin-large);
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-medium);
}

.container button {
  border: none;
  padding: var(--margin-small);
  width: 100%;
}

.reset {
  width: 128px !important;
  padding: 0 !important;
  margin-bottom: var(--margin-small);
}

.edit {
  background-color: white;
  border: 1px solid var(--teknologrod) !important;
}

.donate {
  background-color: var(--teknologrod);
  color: white;
}
