.container {
  width: 100%;
  color: white;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--margin-large) 0 var(--margin-large) 0;
  margin-bottom: var(--margin-large);
}

.slogan {
  width: var(--max-content-width);
  padding: 0 var(--margin-small) 0 var(--margin-small);
}

.slogan > h2 {
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  margin: 0 0 var(--margin-small) 0;
}

.slogan > p {
  margin: 0;
  white-space: pre-wrap;
}
